:root {
  /* Fonts */
  --font-family-base: "Roboto", Arial, Helvetica, sans-serif;
  --font-size-base: 16px;
  --line-height-base: calc(1em + 0.5rem);

  /* Colors */
  --theme-color-1: #ff0101;
  --theme-color-2: #4ab8ff;
  --theme-color-3: #f9ce23;
  --theme-color-4: #fd5181;
  --background-color-1: #e5e5e5;
  --background-color-2: #020203;
  --background-color-3: #fbfbfb;
  --text-color-1: #000000;
  --text-color-2: #ffffff;
  --text-color-3: #74798c;

  /* Misc */
  --border-radius: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body,
#__next {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-1);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
