.dashboard {
  display: flex;
  flex-direction: column;
  gap: 8vh 5vw;
  height: 100%;
  padding: 5vh;
}

.home-wrapper {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

/* Title */
.title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title h1 {
  font-size: 3rem;
}

.title p {
  font-size: 1.125rem;
}

.title-name {
  color: var(--theme-color-1);
}

/* Main */
.home-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.75rem;
}

.home-main-secondary {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.75rem;
  flex-grow: 1;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .home-main-secondary {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Aside */
.home-aside {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 256px;
}

@media screen and (min-width: 1200px) {
  .home-aside {
    justify-content: space-between;
  }
}

.home-aside-block {
  width: 100%;
}
