.session {
  position: relative;
}

.title {
  color: var(--text-color-2);
  font-size: 0.9375rem;
  font-weight: 500;
  opacity: 0.5;
}

.tooltip {
  padding: 0.5rem;
  background-color: var(--background-color-1);
  border-radius: 0;
  font-size: 0.5rem;
  font-weight: 500;
}
