.block {
  width: 100%;
  padding: 2vw;
  background-color: var(--background-color-3);
  border-radius: var(--border-radius);
}

.block--theme-1 {
  background-color: var(--theme-color-1);
}

.block--background-4 {
  background-color: var(--background-color-4);
}

.block-chart {
  height: 260px;
}

.no-padding {
  padding: 0;
}
